
.hero{
    background: url(../images/flores.JPG) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 450px;
}

.img{
    width: 200px;
}

.lista-novedades{
    width: 20px;
    
}

.imgnovedades {
    
}